
9th Day/.vs/9th Day/v17/Browse.VC.opendb

9th Day/.vs/10th Day/v17/Browse.VC.opendb

10th Day/.vs/10th Day/v17/Browse.VC.opendb
*.db

.vs/

x64/
10th Day/.vs/10th Day/v17/.suo
10th Day/.vs/10th Day/v17/Browse.VC.db-wal

2023/6th_Day/node_modules